# Ignore compiled Python files
*.pyc

# Ignore files in the "logs" directory
/logs/

# Ignore environment-specific settings files
*.env

# Ignore all files in the "data" directory, but not subdirectories
/data/*

# Ignore .DS_Store files on macOS
.DS_Store
peer_to_peer_lending_bot_classes.pkl
peer_to_peer_lending_bot_words.pkl
peer_to_peer_lending_bot.h5
constants.cpython-310.pyc
